# Backend API Configuration
MONGO_URI=mongodb+srv://USERNAME:PASSWORD@cluster.mongodb.net/?retryWrites=true&w=majority

# Security
CRON_SECRET=your_secret_key_here

# Optional: CORS
ALLOWED_ORIGINS=http://localhost:3000,https://pythonscrapper.vercel.app,https://pitaara-p4oh2yhx2-amreshhhs-projects.vercel.app

# Optional: Timezone
TZ=UTC
